.navbar{
    display:flex;
    justify-content:space-between;
    align-items: center;
    gap:20px;
    padding: 10px 20px;
    margin:0;
    box-shadow: inset;
   
    background-color: rgb(10, 50, 76);

}
.navbar-left{
    display:flex;
    justify-content: space-between;
    gap:20px;
    color:black;
    list-style: none;
}
.nav-link{
    text-decoration: none;
    list-style: none;
    color:rgb(252, 251, 251);
    font-size: 1.2rem;
    font-weight:bold

}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align:center;
}
.img{
  display: flex;
  justify-content: center;
  align-items: center;
}
body{
    background-color: rgb(178, 222, 224);
}